@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(94, 153, 17);
}

img{
    max-width: 100%;
}

h1,h2{
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
}
.container{
    /* max-width: 1100px; */
    margin: 0 150px;
    padding: 0 30px;
}

.navbar{
    background-color: #859fce;
    color: white;
    height: 60px;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}

.navbar a{
    color: rgb(173, 64, 64);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: rgb(36, 108, 133);
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}

.header{
    background-color: #8b8a43;
    color: rgb(243, 233, 233);
    min-height: 400px;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img{
    max-width: 400px;
    border-radius: 550px;
}

.header .container{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

.header .container p a:link {
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    }
.header .container p a:visited {
    color: red;
    text-decoration: none;
    }
.header .container p a:hover {
    text-decoration: none;
    }
.header .container p a:active {
    text-decoration: none;
    }

.boxes .container{
    display: flex;
    justify-content: space-between;
}

.box{
    flex: 1;
    background: rgb(81, 81, 139);
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
}

.box i{
    margin-right: 10px;
}

@media(max-width:768px){
    .header .container{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .boxes .container{
        display: flex;
        flex-direction: column;
        margin: 2px 4px; 
    }
}